run = "pip install -r requirements.txt && python3 app.py"
entrypoint = "app.py"
language = "python3"

[nix]
channel = "stable-22_11"

[nix.packages]
python = "python310"
pip = "python310Packages.pip"

[deployment]
run = ["python3", "app.py"]

[[ports]]
localPort = 5000
externalPort = 80
